img {
	height: 100px;
}

.dropZone {
  background: linear-gradient(#ffab23, #ffed64);
  height: 121px;
  width: 226px;
  border: 1px solid #ffab23;
  border-radius: 10px
}

.dropZone:hover {
	background: linear-gradient(#ffed64, #ffab23);
}

.dropzoneText {

}